.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 200px;
    padding: 0 10px;
    
}

.bar{
    width: 30px;
    background-color: var(--primary-color);
    border-radius: 4px 4px 0 0;
    position: relative;
    text-align: center;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}


.bar:hover {
    background-color: var(--accent-color);
}
.bar::after {
    content: attr(data-label);
    position: absolute;
    bottom: -30px;
    left: 44%;
    transform: translateX(-50%);
    color: #000;
    font-size: 12px;
    font-weight: 500;
}